doctype
head
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-theme.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
body
    header.navbar.bg-primary
            h1.text-center= title
    .container-fluid
        .row.text-center
            .col-xs-2.bg-success.col-xs-offset-5
                ul.list-unstyled
                    each friend in friends
                        li= friend.name
